@font-face {font-family: Raleway-SemiBold;src: url(/fonts/Raleway-SemiBold.ttf);}
@font-face {font-family: Raleway-Italic;src: url(/fonts/Raleway-Italic.ttf);}
@font-face {font-family: Raleway-Light;src: url(/fonts/Raleway-Light.ttf);}
@font-face {font-family: Raleway-Regular;src: url(/fonts/Raleway-Regular.ttf);}

body {
    background-color: rgb(20, 20, 20);
}
body * {
    font-family: Raleway-Light;
    text-align: center;
}
img {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
}
body > div > h2 {
    font-size: 50px;
}
body > div > p {
    font-size: 25px;
}
body > div > div * {
    text-align: left;
}
body > div > div p {
    font-size: 25px;
}
body > div > div h3 {
    font-size: 40px;
}
body div .row:nth-of-type(odd) {
    background-color:#00000044;
}
#header {
    height: 60%;
    padding-top: 200px;
}
#bio {
    height: 40%;
}
#school {
    background-color: rgb(36, 30, 55);
}
#hackathon {
    background-color: rgb(30, 35, 55);
}
#work {
    background-color: rgb(30, 53, 55);
}
